!BearLibTerminal/Linux32/libBearLibTerminal.so
!BearLibTerminal/Linux64/libBearLibTerminal.so
!BearLibTerminal/OSX/libBearLibTerminal.dylib
!BearLibTerminal/Windows32/BearLibTerminal.dll
!BearLibTerminal/Windows32/BearLibTerminal.lib
!BearLibTerminal/Windows64/BearLibTerminal.dll
!BearLibTerminal/Windows64/BearLibTerminal.lib